name: Nightly test Android

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        path: 'gh-clone/simutrans'

    - name: Install dependencies
      working-directory: /usr/local/lib/android
      run: |
        yes | sdkmanager --licenses
        sudo yes | cmdline-tools/latest/bin/sdkmanager --install "cmdline-tools;latest"
        sudo yes | sdkmanager --install "platform-tools"
        echo "($pwd)/platform-tools" >> $GITHUB_PATH
        sudo yes | sdkmanager --install "build-tools;35.0.0"
        echo "($pwd)/build-tools/35.0.0" >> $GITHUB_PATH
        sudo yes | sdkmanager --install "cmake;3.31.6"
        echo "($pwd)/cmake/3.31.6/bin" >> $GITHUB_PATH
        sudo yes | sdkmanager --install "ndk;29.0.14206865"
        echo "($pwd)/ndk/29.0.14206865" >> $GITHUB_PATH
        echo "($pwd)/ndk/29.0.14206865/toolchains/llvm/prebuilt/linux-x86_64/bin/" >> $GITHUB_PATH
        ln -s llvm-objdump ${ANDROID_HOME}/ndk/29.0.14206865/toolchains/llvm/prebuilt/linux-x86_64/bin/objdump
        echo "Github path ($GITHUB_PATH)"
        
