name: Nightly test Android

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        path: 'gh-clone/simutrans'

    - name: Install dependencies
      run: |
        echo "Current working directory: $(pwd)"
        echo "Android: $(ls /usr/local/lib/android)"
        echo "($PATH)"
        echo "($GITHUB_PATH)"
        cmake --help
        cmake --version

        
